<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>388559180046-rocmmrddlf97dhopdvd1e9vbcve9mi2g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.388559180046-rocmmrddlf97dhopdvd1e9vbcve9mi2g</string>
	<key>API_KEY</key>
	<string>AIzaSyAZrZseGfxPaHoqVcZ1MFNToVZFH-GjhRM</string>
	<key>GCM_SENDER_ID</key>
	<string>388559180046</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.swift.tech.Hikaru.Honda.pen</string>
	<key>PROJECT_ID</key>
	<string>pensupi</string>
	<key>STORAGE_BUCKET</key>
	<string>pensupi.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:388559180046:ios:f59e9c6c238532e9f4c75f</string>
</dict>
</plist>
